footer {
  max-width: $desktop;

  .footer-newsletter {
    background: #1d1d1d;
    height: 130px;
    padding: 0 $desktop-gutter;
    width: 100%;

    @include flexbox();
    align-items: center;

    form {
      flex-direction: row;
      margin: 0 auto;
    
      label {
        color: $white;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-right: 56px;
        text-transform: uppercase;
      }

      input {
        background: transparent;
        border-radius: 0;
        border: none; 
        color: $text-gray; 
        margin-right: 56px;
        width: 300px;     
      
        &:focus {
          color: $text-gray; 
          outline: 1px solid $text-gray;
        }
      }

      input[type="submit"] {
        background: $green;
        border-radius: 50px;
        color: $white;
        height: 40px;
        text-transform: uppercase;
        width: 140px;

        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        font-weight: 600;    
        line-height: 40px;
        padding: 0;


        &:focus {
          outline: none;
        }
      }
    }
  }

  .site-info {
    background: #232323;
    height: 355px; 
    padding: 0 $desktop-gutter;  
    width: 100%;  
    align-content: space-between;
    font-size: 14px;

    .footer-logo {
      min-width: 66%;
    }

    .instagram-header {
      min-width: 40%;

      h3 {
        color: $white;
        margin-top: 62px;
      }
    }

    .footer-content {
      min-width: 30%;
      max-width: 367px;
      padding-right: 5%;
    
      p {
        margin: 0;
      }
    }    

    .footer-address {
      min-width: 20%;
      padding-right: 5%;
    
      .ion-ios-location {
        color: #ccc;
        font-size: 16px;
        margin-right: 20px;
      }

      address {
        color: $text-gray;
        display: inline-block;
        margin: 0;
        vertical-align: top;
      }

    }

    .instagram-feed {
      min-width: 30%;
      max-width: 367px;
    }

  }

  .footer-bottom {
    @include flexbox();
    background: #121212;
    height: 60px;
    padding: 0 $desktop-gutter; 
    width: 100%;  
  
    p {
      flex: 7;
      line-height: 60px;
      margin: 0;
    }

    ul {
      flex: 3;
      line-height: 60px;
      list-style: none;
      margin: 0;
      padding: 0;
    
      li {
        color: $text-gray;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        margin-right: 20px;
      }

      a:focus {
        outline: none;
      }
    }
  }   
}/*close footer*/
 