footer {
  max-width: $desktop;

  .footer-newsletter {
    background: #1d1d1d;
    height: 130px;
    padding: 0 $desktop-gutter;
    width: 100%;
  }

  .site-info {
    background: #232323;
    height: 355px;
    padding: 0 $desktop-gutter;
    width: 100%;
  }


  .footer-bottom {
    background: #121212;
    height: 60px;
    padding: 0 $desktop-gutter;
    width: 100%;

    p {
      line-height: 60px;
      margin: 0;
    }
  }
}
