.homepage {

  h1 {
    text-align: center;
    text-transform: uppercase;

    &:after {
      content: url(img/deco.png);
      display: block;
    }
  }

  h3 {
    text-align: center;
    width: 100%;
  }
}