$size__site-main: 100%;
$size__site-sidebar: 25%;

/*  -------------------
      Screen Widths
-----------------------*/

$max-width: 1366px;


/*  ----------------
      Gutters
-------------------*/
$desktop-gutter: 50px;
$tablet-gutter: 20px;
$phone-gutter: 10px;