$size__site-main: 100%;
$size__site-sidebar: 25%;

/*  -------------------
      Screen Widths
-----------------------*/

$desktop: 1366px;
$tablet: 960px;
$phone: 767px;


/*  ----------------
      Gutters
-------------------*/
$desktop-gutter: 50px;
$tablet-gutter: 30px;
$phone-gutter: 15px;